<a class="floating-pdf" href="images/한경협 매거진_Vol_06_국문" download target="_blank">
  <img src="images/icons/down.png" alt="pdf다운로드">
  <p style="font-size: 12px;">
    pdf<br>
    다운로드
  </p>
</a>
<a class="cir-floating floating-pdf"
  href="https://www.fki.or.kr/kor/news/fkimagazine.do">
  <p style="font-size: 12px;">
    지난 호<br>
    보기
  </p>
</a>
<a class="cir-floating"
  href="index.html">
  <img src="images/icons/home.png"
    alt="홈 이동">
</a>
<a class="cir-floating"
  href="javascript:void(0)"
  id="btn_up">
  <img src="images/icons/up.png"
    alt="위로 이동">
</a>
<a class="cir-floating down"
  href="javascript:void(0)"
  id="btn_down">
  <img src="images/icons/up.png"
    alt="아래로 이동">
</a>